body {
    font-family : Arial;
    margin: 0;
}
nav {
    display: flex;
    height: 70px;
}
.secondary-block {
    color: white;
    background-color: rgb(186, 4, 4);
}
a{
    color: white;
}
nav h2  {
    margin: 0;
    padding: 20px 0px 20px 15px;
}
nav ul{
    display:flex;
    margin:0;
    padding:24px;
    list-style:none; 
}
nav li{
    margin-left:15px ;
}
section{
    padding:40px;
}
#xp ul{
    padding:0;
    margin:0;
    list-style:none;
}
#xp li{
    margin-bottom:10px;
}
#xp aside{
    float:right;
}
#education aside{
    float:right;
}
#education li{
    list-style:none;
}
footer{
    padding: 40px;
}
footer ul {
    margin:0;
    padding:0;
    list-style:none;
}
.links {
    margin-bottom:25px;
    display: inline-block;
    width: 390px;
}
header{
    text-align:center ;
    padding:40px;
}
content{
    max-width:800px;
    margin:0 auto;
}
header h2{
    color: rgb(255, 0, 0)        
}
header img{
    width:150px;
    border-radius:75px;
    box-shadow:3px 3px 6px rgb(170, 170, 170)
}
